    /* Custom styles to match the shared design */
    body {
        background-color: #f8f9fa;
    }

    #content {
        margin-left: 250px;
        flex: 1;
        padding: 0px;
    }
    .dashboard-header {
        margin: 20px 0;
    }

    .card {
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .card-body {
        padding: 1rem;
    }

    .card-title {
        font-size: 1.2rem;
        margin-bottom: .5rem;
    }

    .btn-custom {
        margin-right: 5px;
    }

    .section-title {
        margin: 20px 0 10px;
        font-weight: bold;
    }
