.table-container {
  width: 100%;
  overflow-x: auto;
}

mat-header-cell, mat-cell {
  padding: 8px;
  white-space: nowrap;
}

mat-header-cell {
  font-weight: bold;
}
    
    
.text-center {
  text-align: center;
}
.text-muted {
  color: #888;
}
.p-4 {
  padding: 1rem;
}
